
  <!--<input [(ngModel)]="email" matInput placeholder="Email">-->

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>{{method}}</h2>
      </mat-panel-title>
      <mat-panel-description>
          <h3>{{title}}</h3>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!--Content-->
    <mat-tab-group>
        <mat-tab label="Create Request">
          <h2>Headers</h2>
          <p>Authorization: '{{headers.authorization}}'</p>
          <p>'Content-type': '{{contentType}}'</p>

          <h2>Base URL</h2>
          <p>{{url}}</p>

          <mat-form-field *ngFor="let item of body">
            <input matInput placeholder="{{item.key}}">
          </mat-form-field>
        </mat-tab>
        <mat-tab label="Preview JSON Request">
          <textarea disabled matInput></textarea>
        </mat-tab>
    </mat-tab-group>

    <div align="center"> 
        <button mat-raised-button (click)="callREST()">Send request</button>
    </div>

    <div align="center">
      <h2>Responses</h2>
        <textarea matInput></textarea>
    </div>
  </mat-expansion-panel>

  <!--<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>-->
