@import '../variables.scss';

.mat-card {
    margin: 1em;
    background: $neutralBg;
    color: white;
}

.mat-toolbar {
    margin: 0;
    background-color: $neutralBgDark; 
}

.card-img {
    width: 80%;
    max-width: 250px;
    margin-bottom: 2em;
}

.fill-remaining-space {
    flex: 1 1 auto;
  }