@import '../variables.scss';

.mat-card {
    margin: 1em;
    background: $neutralBg;
    color: white;
}

.mat-toolbar {
    margin: 0;
    background-color: $neutralBgDark; 
}

.card-img {
    width: 80%;
    max-width: 250px;
    margin-bottom: 2em;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

/*Neon text effect*/
.glow {
  margin: 20px 0 20px 0;

  span {
    font-size: 1.4em;
  }
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  font-family: 'Audiowide', sans-serif;
}

.glow a {
  color: #fff;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $darkBg, 0 0 40px $darkBg, 0 0 50px $darkBg;
  }
  to {
    text-shadow: 0 0 0px #fff, 0 0 5px #fff, 0 0 10px $darkBg, 0 0 15px $darkBg, 0 0 20px $darkBg;
  }
}