<!--Toolbar-->
<mat-toolbar color="primary">
  <span>Developer Portal</span>
  <span class="example-fill-remaining-space"></span>
  <span><button mat-button></button></span>
</mat-toolbar>

<!-- content -->

<mat-card>
  <mat-card-title>User</mat-card-title>
  <explorer
      [title] = getUsers.title
      [url] = getUsers.url
      [method] = getUsers.method
      [headers] = getUsers.headers
      [contentType] = getUsers.contentType
      >  
  </explorer>
  <explorer
  [title] = createUser.title
  [url] = createUser.url
  [method] = createUser.method
  [headers] = createUser.headers
  [contentType] = createUser.contentType
  [body] = createUser.body
  >
  </explorer>
</mat-card>

<mat-card>
    <mat-card-title>Car</mat-card-title>
    <explorer
        [title] = getUsers.title
        [url] = getUsers.url
        [method] = getUsers.method
        [headers] = getUsers.headers
        [contentType] = getUsers.contentType
        >  
    </explorer>
    <explorer
    [title] = createUser.title
    [url] = createUser.url
    [method] = createUser.method
    [headers] = createUser.headers
    [contentType] = createUser.contentType
    [body] = createUser.body
    >
    </explorer>
  </mat-card>

