<!-- DEMO CONTAINER-->
<!--Toolbar-->
<mat-toolbar color="primary">
  <h1 class="glow"><a>DEVELOPER PORTAL</a></h1>
  <span class="fill-remaining-space"></span>
  <span>
    <a href = "https://github.com/Zuzze/REST-Developer-Portal" target="_blank">
      <img alt="github" src="./assets/img/github.png" height="40px" style="margin-top: 10px;"/>
    </a>
  </span>
</mat-toolbar>

<!-- content -->
<mat-card>
  <div align="center">
    <h1>USERS</h1>
    <img  alt="user" #userImg src="./assets/img/user.png" value="./assets/img/userHover.png" class="card-img" (mouseenter)="hoverImg(userImg)" (mouseleave)="unhoverImg(userImg)"/>
  </div>

  <!-- Add User Example Explorer Component -->
  <explorer
    [title] = createUser.title
    [url] = createUser.url
    [method] = createUser.method
    [headers] = createUser.headers
    [contentType] = createUser.contentType
    [body] = createUser.body>
  </explorer>
    <!-- Get users example Component -->
  <explorer
    [title] = getUsers.title
    [url] = getUsers.url
    [method] = getUsers.method
    [headers] = getUsers.headers
    [contentType] = getUsers.contentType>  
  </explorer>
</mat-card>

