/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './developer-app-theme.scss';
@import './variables.scss';
//@import url('https://fonts.googleapis.com/css?family=Audiowide|Baloo|Oxygen|Comfortaa|Courier+New');

@mixin linear-gradient($direction, $color-stops) {
    @if is-direction($direction) == false {
      $color-stops: $direction, $color-stops;
      $direction: 180deg;
    }
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

html {
    height: 100%;
}

body {
    @include linear-gradient($lightBg, $darkBg);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Audiowide', sans-serif
}

h2 {
    font-family: 'Comfortaa', sans-serif;
    color: $lightBg;
}

h3, h4, h5, .mat-card-title, .title, button > span, .mat-tab-label-content, input {
    font-family: 'Comfortaa', sans-serif;
}

/*.mat-input-element, .mat-form-field {
    font: normal;
    font-family: 'Oxygen', sans-serif;
}*/

p {
    font-family: 'Oxygen';
}