$postBg: rgb(113, 212, 171);
$getBg: rgb(255, 255, 170);
$deleteBg: rgb(255, 32, 32);
$putBg: rgb(255, 195, 83);

$lightBg: rgb(151, 234, 255);
$darkBg: rgb(101, 59, 170);

$neutralBg: rgb(29, 29, 29);
$neutralBgLight: rgb(36, 36, 36);
$neutralBgDark: rgb(7, 7, 7);
