$postBg: rgb(113, 212, 171);
$getBg: rgb(255, 255, 170);

$warn: #EF5350; //mat-palette red 400
$lightBg: #80D8FF; //mat-palette light-blue A100
$darkBg: #7C4DFF; //mat-palette deep purple A200

$neutralBg: rgb(29, 29, 29);
$neutralBgLight: rgb(36, 36, 36);
$neutralBgDark: rgb(7, 7, 7);
